div {
    background-color: aliceblue;
    display: flex;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
}

div::before, div::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid black;
    margin: auto;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
