body {
    background-color: violet;
}

h1 {
    font-family: "Georgia";
    color: green;
    background-color: white;
    border: 1px dotted green;
    margin-top: 30px;
    margin-bottom: 20px;
}

img {
    padding: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
